@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Zilla+Slab:wght@700&display=swap');

/* * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
} */

:root {
  --header: 700 4rem 'Zilla Slab', 'Rockwell', 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  --primary-text: 300 2.4rem Roboto, system-ui, sans-serif;
  --peach: #FFA479;
  --black: #0F0F12;
  --offwhite: #EEEEEE;
  --midgray: #A0A0A0;
  --grayorange: #1C1A18;
  --margin-l: 13dvw;
  --image-offset: min(2rem, 20px);
}

html {
  /* Adjusts base font-size to 10px, 2rem = 20px etc */
  font-size: 62.5%;
  background-color: var(--black);
  overflow-x: hidden;
}

.ns {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.ns:hover {
  cursor: default;
}

body {
  font: var(--primary-text);
  color: white;
  margin: 0 auto;
  overflow-x: hidden;
}

.align-left {
  margin-left: var(--margin-l);
}

.page-section {
  min-height: 70vh;
  padding-top: 1px;
}

#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  max-width: 1920px;
  z-index: 0;
  background-color: #25292a;
}

.stack-above-hero {
  position: relative;
  z-index: 1;
}

.logo-wrapper {
  width: 100%;
  height: 100px;
  position: relative;
}

.logo {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 80px;
  object-fit: cover;
  left: 30px;
  user-select: none;
}

.logo:hover {
  cursor: pointer;
}

.hero-img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  pointer-events: none;
  max-height: 100vh;
}

#teppo {
  z-index: 2;
}

#hero-bg {
  z-index: -1;
}

.hero-content {
  padding: 20px 0;
  position: relative;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 3em;
}

.intro {
  color: #fff;
  font-weight: 400;
  margin: 0 0 1rem 100px;
  text-align: left;
}

.stroke-text {
  font: var(--header);
  font-size: 9.6rem;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--peach);
  line-height: 0.8;
  user-select: none;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.stroke-text-active {
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke-width: 0px;
  z-index: 3;
}

#asterisk {
  place-self: center;
  margin-top: 1em;
  font-size: 2rem;
  visibility: hidden;
  z-index: 2;
}

.arrow {
  height: 45px;
  width: 30px;
}

#arrow-hero {
  z-index: 2;
  position: absolute;
  bottom: 100px;
  opacity: 1;
  transition: .5s ease-out;
}

#arrow-hero.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.arrow:hover {
  cursor: pointer;
}

.span-wrapper {
  padding: 0 100px;
}

p {
  line-height: 1.5;
  max-width: 50ch;
  margin: 0 0 1em 0;
  height: auto;
}

p a {
  color: white;
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 3px var(--peach) dotted;
}

p a:hover {
  color: var(--peach);
}

p a::selection {
  text-decoration: underline 3px var(--black) dotted;
}

p a:hover::selection {
  color: white;
}


#about {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--black);
  padding-top: 4em;
}

#about p {
  max-width: 45ch;
  margin-left: var(--margin-l);
  margin-right: var(--margin-l);
}

#about .note {
  margin-top: 3em;
  transform: rotate(-8deg);
  position: relative;
  max-width: 400px;
  max-height: 400px;
}

#about .note img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about .note button {
  background-color: var(--peach);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 8%;
}

.page-section h3 {
  color: white;
  line-height: 0.9;
  margin-left: calc(var(--margin-l) / 2);
  width: 10ch;
  padding: 0 0 .5ch .5ch;
  border-bottom: 3px var(--peach) solid;
}

.skill-carousel {
  width: 100%;
  place-items: center;
}

.skill-carousel-navigation {
  width: 80%;
  max-width: 950px;
/*   place-self: center; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
}

.skill-carousel h2 {
  font-size: 4rem;
  line-height: 0.8;
}

.skill-carousel h2:hover {
  cursor: pointer;
}

.skill-carousel-content {
  width: fit-content;
  margin: 0 auto;
}

.skill-carousel p {
  
}

#skills .wp-block-gallery {
  display: flex;
  flex-direction: row;
}

#skills .wp-block-image {
  margin-right: 3rem;
}

#skills .wp-block-image img {
  height: 4rem;
  width: 4rem;
  user-select: none;
}

#skills .wp-block-image img:hover {
  filter: saturate(0) brightness(100);
}

#skills .wp-element-caption {
  display: none;
}

#skills .wp-block-image:hover figcaption {
  position: absolute;
  margin-top: 5px;
  display: block;
  pointer-events: none;
}

.projects-wrapper {
  padding: 0 var(--margin-l);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-thumbnail {
  position: relative;
}

.project-thumbnail-image {
  width: 300px;
  height: 220px;
  background-color: var(--black);
  border: 2px var(--black) solid; 
  margin: 2px;
  flex-shrink: 0;
  position: relative;
  filter: saturate(0.3);
  transition: filter 1s;
  transition: border-color 0.1s;
}

.project-thumbnail:hover .project-thumbnail-image {
  border: 2px var(--peach) solid;
  cursor: pointer;
  filter: saturate(1);
}


.thumbnail-primary {
  /* background-color: rgba(255, 0, 0, .5); */
  position: absolute;
  pointer-events: none;
  overflow-y: hidden;
}

#trackem-thumbnail-image {
  background-image: url("/assets/trackem_thumbnail_bg.jpg");
}

#trackem-thumbnail .project-thumbnail-description:before {
  content: "A snooker score app";
}

.project-thumbnail .thumbnail-primary {
  background-image: url("/assets/trackem_thumbnail_primary.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  bottom: 0;
  background-size: 65%;
  height: 150%;
  width: 100%;
  transition: .8s ease;
}

.project-thumbnail:hover .thumbnail-primary {
  background-size: 85%;
}

.project-thumbnail-info-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;  background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 60%);
  opacity: .8;
  transition: opacity .5s ease-out;
}

.project-thumbnail:hover .project-thumbnail-info-wrapper {
  opacity: 1;
}

.project-thumbnail-info {
  color: white;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  width: calc(100% - 30px);
  text-align: left;
  left:0;
  right:0;
  margin: 0 auto;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  transform: translateY(10%);
  opacity: 0;
  transition: .4s ease-out;
}

.project-thumbnail:hover .project-thumbnail-info {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.project-thumbnail-info h4 {
  font: var(--header);
  font-size: 3.6rem;
  height: 42px;
}

.project-thumbnail-description {
  height: 42px;
  margin: 0;
}

.project-thumbnail-info-divider {
  height: 3px;
  width: 100%;
  background-color: var(--peach);
}

#contact {
  min-height: 70vh;
}

.contact-section {
  margin-left: var(--margin-l);
}

.contact-info {
  display: flex;
  flex-direction: row;
}

.contact-info img {
  margin-right: 2rem;
  width: 3.5rem;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  position: relative;
}

.footer-border {
  height: 3px;
  width: calc(100% - 100px);
  background-color: var(--peach);
  position: absolute;
}

.footer-content {
  padding: 50px 50px 0 50px;
  min-height: 60vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.footer-arrow-wrapper {
  min-height: 60vh;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#footer .arrow {
  transform: rotate(180deg);
  margin-bottom: 1em;
}


.footer-content .logo {
  position: static;
}

.nav-item {
  font-weight: 700;
  font-size: 2.4rem;
  max-width: 6em;
  position: relative;
  padding: 3px 0;
  margin-bottom: 1rem;
  transition: padding .2s ease-out;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  cursor: pointer;
  padding-left: .6rem;
}

.nav-item-border {
  position: absolute;
  height: 3px;
  background-color: var(--peach);
  width: 0%;
  bottom: 0;
  left: 0;
  transition: width .2s ease-out;
}

.nav-item:hover .nav-item-border {
  width: 100%;
}

#footer .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

#footer .contact-row {
  margin-left: 100px;
}

.some-icon {
  margin-right: 10px;
}

.some-icon img {
  height: 40px;
}

.some-icon img:hover {
  filter: brightness(100) saturate(0);
}

.drawer-menu .some-icon img:hover {
  filter: brightness(8%) saturate(0);
}

#footer .contact-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

#footer .contact-info:first-child {
  margin-right: 1em;
}

@media (max-width: 1200px) {
  :root {
    --margin-l: 10dvw;
  }

  .hero-img {
    object-fit: cover;
  }

  .hero-content {
    width: 96%;
  }

  .stroke-text {
    font-size: 8rem;
  }

  .span-wrapper {
    padding: 0;
  }

  #about {
    flex-direction: column;
  }

  #about .page-section {
    min-height: 0;
  }

  #about .note {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    align-self: flex-end;
  }

  .skill-carousel-navigation {
    justify-content: left;
  }
  
  .skill-carousel-navigation h2 {
    font-size: 3.5rem;
    margin-right: 4rem;
    display: block;
  }

  .skill-carousel-content {
    margin-left: var(--margin-l);
  }

  #footer .logo-link {
    width: 100px;
  }

  .footer-content {
    padding: 0;
    padding-top: 50px;
    margin-bottom: 0;
    max-width: 100%;
  }

  #footer .bottom-row {
    flex-direction: column;
  }

  #footer .contact-row {
    justify-content: left;
    margin-left: 0;
  }

  #footer .some-icon-row,
  .contact-info {
    margin-bottom: 1em;
  }

  .header-bg {
    right: -400px;
  }

  .content,
  .header-content {
    padding-right: var(--margin-l);
  }

  .post-title {
    font-size: 9.6rem;
  }
}

@media (max-width: 768px) {
  :root {
    --margin-l: 16px;
  }

  .hero-img {
    object-position: 66% 100%;
  }
  
  .intro {
    margin-left: 0;
  }

  .stroke-text {
    font-size: 7.2rem;
    justify-content: flex-start;
    text-align: left;
  }
  
#asterisk {
  place-self: flex-start;
}

  #arrow-hero {
    bottom: 60px;
  }

  #about {
    padding-top: 2em;
  }

  .skill-carousel-navigation {
    width: 100%;
    margin-left: 16px;
    justify-content: left;
  }

  .skill-carousel-navigation h2 {
    font-size: 3.2rem;
    margin-right: 3rem;
  }

  .skill-carousel-content {
    margin-left: var(--margin-l);
    margin-right: var(--margin-l);
  }

  .contact-section {
    margin-left: 0;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-content {
    margin-bottom: 0;
  }

  #footer .contact-row {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
  }

  #footer .contact-info {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }

  #footer .contact-info:first-child {
    margin-bottom: 1rem;
  }

  .header-content {
    margin-right: var(--margin-l);
  }

  .header-bg {
    right: -500px;
  }

  .post-title {
    font-size: 72px;
  }

  .project-info-row {
    display: inline;
  }

  .project-info-category {
    margin-right: 1em;
  }

  .project-info-row-item {
    margin-bottom: 1em;
    flex-direction: row;
    height: 1em;
    height: fit-content;
  }

  .project-info-row-item:last-child {
    margin-bottom: 0;
  }

  .post-image-container {
    margin: inherit 0;
    padding: 0;
  }
}

@media (max-width: 600px) {

  .stroke-text {
    font-size: 6.4rem;
  }

  #footer {
    flex-direction: column;
    padding: 50px 16px 0 16px;
  }

  .footer-border {
    width: calc(100% - 32px);
  }

  .footer-arrow-wrapper {
    width: 100%;
    min-height: 0;
    justify-content: center;
    margin-bottom: 1em;
  }

  .post-image-container {
    flex-direction: column;
    padding: 0;
    margin: inherit 0;
  }

  .post-image-container {
    margin: 0;
    padding: 0;
    align-items: start;
  }

  .post-image-container img {
    transform: translateY(0);
    margin: 0 0 5px 0;
    padding: 0;
    height: fit-content;
  }
}

@media (max-width: 400px) {
  :root {
    --primary-text: 300 2rem Roboto, system-ui, sans-serif;
  }

  #arrow-hero {
    bottom: 30px;
  }

  .stroke-text {
    font-size: 5.6rem;
  }

  #about .note {
    margin: 0;
    margin-bottom: 1em;
  }

  #about .note button {
    font-size: 1.6rem;
  }

  .contact-info img {
    width: 3rem;
  }
}