@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

:root {
  --peach: #FFA479;
  --black: #0F0F12;
  --offwhite: #EEEEEE;
  background-color: var(--black);
}

.ns {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  color: white;
  font: 300 24px Roboto, sans-serif;
  margin: 0 6%;
}

h1 {
  color: var(--peach);
  font: 700 40px Zilla Slab, serif;
  margin: 1em 0;
}

p {
  line-height: 1.4em;
  max-width: 700px;
  margin: 0 0 1em 0;
}

a {
  color: white;
  font-weight: inherit;
  border-bottom: 3px var(--peach) dotted;
}

a:hover {
  color: var(--peach);
}

.contact-icon {
  height: 1em;
  vertical-align: middle;
  margin-right: 1em;
}

::selection {
  color: var(--black);
  background-color: var(--peach);
}

a::selection {
  color: white;
}

a:hover::selection {
  color: var(--offwhite);
}